<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <nav>
            <transition name="fade" mode="out-in">
<i class="material-icons menu" v-if="!show" @click="show=!show" key="menu">menu</i>
<i class="material-icons clear" v-else @click="show=!show" key="clear">clear</i>
            </transition>
            <transition name="fade">
                <ul v-if="show">
                    <li v-for="item in items">{{item}}</li>
                </ul>
            </transition>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>